{% extends 'main/layout.html' %}

{% block title %}Communication{% endblock %}

{% block content %}

<h1>Communication</h1>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <span>{{ error }}</span>
    <button type="submit">Enter message</button>
</form><br>

{% if messages %}
    {% for message in messages %}
        {{ message.author }} - {{ message.date }}<br>
        {{ message.content }}<br><br>
    {% endfor %}
{% else %}
     No one message. You will be first!
{% endif %}
{% endblock %}