{% extends 'main/layout.html' %}

{% block title %}Chat{% endblock %}

{% block content %}

<h1>Chat</h1>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <span>{{ error }}</span>
    <button type="submit">Enter message</button>
</form><br>

{% if messages %}
    {% for message in messages %}
        {{ message.author }} - {{ message.date }}<br>
{{ message.content }}  <kek>{{ message.update_status }}</kek>
        {% if message.author == user %}
            <br><a href="{% url 'messanger:update_message' message.id %}">Update</a>
            <a href="{% url 'messanger:delete_message' message.id %}">Delete</a>
        {% endif %}<br><br>
    {% endfor %}
{% else %}
     No one message. You will be first!
{% endif %}
{% endblock %}