<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<a href="{% url 'main:tavern' %}">Tavern</a> |
<a href="{% url 'main:task_board' %}">Task Board</a> |

{% if user.is_authenticated %}
    <a href="{% url 'main:my_task_board' %}">My Task Board</a> |
{% endif %}

<a href="{% url 'main:food_n_bar' %}">Food and Bar</a> |
<a href="{% url 'main:inn' %}">Inn</a> |

{% if user.is_authenticated %}
    <a href="{% url 'main:communication' %}">Communication</a>
    <form action="{% url 'users:logout_form' %}" method="post">
        {% csrf_token %}
        <button>Logout</button>
    </form>
{% else %}
    <a href="{% url 'users:reg_form' %}">Registration</a> |
    <a href="{% url 'users:login_form' %}">Login</a>
{% endif %}

{% block content %}{% endblock %}

</body>
</html>